SECRET_KEY=django-insecure-change-this-in-production-xyz123
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://inventari.asixsapa.cat

# Google OAuth Configuration (opcional)
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# Database
DATABASE_NAME=db.sqlite3
